* {
  box-sizing: border-box;
}

body {
  /* Use the url for the bird mouse cursor and set the backup to default*/
  cursor: url(./cursor.png), default;
  background-color: #c0c86d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  /* height: 100vh; for really new browsers */
}

.bg {
  background-image: url(./background.png);
  background-repeat: no-repeat;
  /* setting the height and width to make the work easier amd also working with the assumption that my users will be playing this game on a desktop rather than a mobile */
  width: 1920px;
  height: 1080px;
  /* next to get the moles into a row, we use flebox and wrap to cover for extensions */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hole {
  background-color: black;
  border-radius: 50%;
  overflow: visible;
  width: 267px;
  height: 267px;
}

.hole-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mole {
  position: relative; /*this serves to adjust the position of the mole */
  right: 30px; /*this will move it 30px away from it's right to conveniently place it in the center */
}

/* we have to make the bird have a worm in it's mouth when it hovers over a hungry mole */
.hungry {
  cursor: url(./cursor-worm.png), default;
}
/* and for a mole that is gone */
.gone {
  display: none;
}
.hide {
  display: none;
}
.worm {
  width: 1660px;

}
.worm-container {
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.worm-box {
  width: 1660px;
}